# Copyright (c) 2017-2018 Dustin Toff
# Licensed under Apache License v2.0

build --strict_java_deps error
build --javacopt -Werror
build --javacopt -Xlint:all

# Broken in Bazel in 0.13.0 (possibly earlier).
# Being fixed by https://github.com/bazelbuild/bazel/issues/5134
# build --javacopt -XepAllDisabledChecksAsWarnings
