{#
 # Copyright (c) 2016-2018 Dustin Doloff
 # Licensed under Apache License v2.0
 #}

{{ doctype or '<!DOCTYPE HTML>'}}
{% if lang %}
    <html lang="{{ lang }}">
{% else %}
    <html>
{% endif %}
    <head>
        {% for content in inline_js_files_contents %}
            <script>{{ content }}</script>
        {% endfor %}
        <meta charset="{{ charset or 'UTF-8' }}" />
        {% if title %}
            <title>{{ title }}</title>
            <meta name="application-name" content="{{ title }}" />
        {% endif %}

        {% for size, favicon in favicons.iteritems() %}
            <link rel="apple-touch-icon-precomposed" sizes="{{ size }}x{{ size }}" href="{{ favicon }}" />
            <link rel="icon" sizes="{{ size }}x{{ size }}" href="{{ favicon }}" />
        {% endfor %}

        {% if 144 in favicons %}
            <meta name="msapplication-TileImage" content="{{ favicons[144] }}" />
        {% endif %}

        {% for size, favicon in favicons.iteritems() if size in [70, 150, 310] %}
            <meta name="msapplication-square{{ size }}x{{ size }}logo" content="{{ favicon }}" />
        {% endfor %}

        {% for items in meta %}
            <meta
            {% for key, value in items.iteritems() %}
                {{ key }}="{{ value }}"
            {% endfor %}
            />
        {% endfor %}

        {% for file in css_files  %}
            <link rel=stylesheet href="{{ file }}" type="text/css" />
        {% endfor %}

        {% for file in js_files  %}
            <script src="{{ file }}"></script>
        {% endfor %}

        {% for file in deferred_js_files  %}
            <script src="{{ file }}" defer></script>
        {% endfor %}
    </head>
    {{ include_body() }}
</html>
